{% extends 'base.html' %}
{% block content %}
    {% if note_name and note_description %}

        {% for message in get_flashed_messages() %}
        <div class="alert alert-info" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>   

        {% endfor %}
    {% else %}
    <form method="POST">
        {{ form.hidden_tag() }}
        <h5>Folder Name</h5>
                <div class="col-auto">
                {{form.folder_name(class="form-control form-control-sm",value='C:\\Users\\NawazS\\Desktop\\Notepad Tracker\\Default_Files')}}
            </div>
        <h5>File Name</h5> 
            <div class="col-auto">
                {{form.note_name(class="form-control form-control-sm")}}
        </div>
        <div class="mb-3">
        <h5>Enter The Details</h5> 
        {{form.note_description(class="form-control", id="exampleFormControlTextarea1", rows="12" )}}
        </div> 
        <div class="d-grid gap-2 col-6 mx-auto">
        {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>

    {% endif %}

{% endblock %}
