{% extends 'base.html' %}
{% block content %}

{% if note_description %}
    {% for message in get_flashed_messages() %}

    <div class="alert alert-info" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>   

    {% endfor %}
{% else %}
    <form method="POST",action = '/editfilesfolder/description/{{note_name}},{{folder_name}}'>
        {{ form.hidden_tag() }}
        <h5>Folder Name</h5>
                <div class="col-auto">
                {{form.folder_name(class="form-control form-control-sm",value='C:\\Users\\NawazS\\Desktop\\Notepad Tracker\\Default_Files')}}
            </div>
        <h5>File Name</h5> 
            <div class="col-auto">
                {{form.note_name(class="form-control form-control-sm")}}
        </div>
        <br>
        <div class="d-grid gap-2 col-6 mx-auto">
        {{ form.submit(class="btn btn-primary")}}
        </div>
    </form>
{% endif %}
{% endblock %}